html,body {
    margin:0;
    padding:0;
	}

img{
	
	
}

#nul {
	position: absolute;
	top: 6px;
	left: 50px;
	width: 236px;
	
	
}
#een {
	position: absolute;
	top: 6px;
	left: 287px;
	width: 236px;
	
}

#twee {
position: absolute;
	top:6px;
	left: 523px;
	width: 236px;
	
}

#drie {
position: absolute;
	top:6px;
	left: 760px;
	width: 236px;
	
}

#vier {
position: absolute;
	top:6px;
	left: 997px;
	width: 226px;
	
}

#vijf {	
	position: absolute;
	top:255px;
	left: 45px;
	width: 236px;
	
}

#zes {
	position: absolute;
	top:255px;
	left: 287px;
	width: 236px;
	
}

#zeven {
position: absolute;
	top:255px;
	left: 523px;;
	width: 236px;
	
		
}
#acht {
	position: absolute;
	top:255px;
	left: 760px;;
	width: 236px;
	
	
}
#negen {
	position: absolute;
	top:255px;
	left: 997px;
	width: 236px;
	
}
#tien {
	position: absolute;
	top:507px;
	left: 50px;
	width: 236px;
	
	
}
#elf {
position: absolute;
	top:507px;
	left: 287px;
	width: 236px;
	
}

#twaalf {
	position: absolute;
	top:507px;
	left: 523px;
	width: 236px;
	
		
}
#dertien {
position: absolute;
	top:507px;
	left: 760px;
	width: 236px;
	
	
	
}
#veertien {
position: absolute;
	top:507px;
	left: 997px;
	width: 236px;

	
	
}
#vijftien {
	position: absolute;
	top:757px;
	left: 50px;
	width: 236px;
	
	
}
#zestien {
position: absolute;
	top:757px;
	left: 287px;
	width: 236px;

	
	
	
}
#zeventien {
position: absolute;
	top:757px;
	left: 523px;
	width: 236px;

	
	
	
}
#achtien {
position: absolute;
	top:757px;
	left: 760px;
	width: 236px;
	
}
#negentien {
position: absolute;
	top:757px;
	left: 997px;
	width: 236px;


	
	
}
#twintig {
position: absolute;
	top:255px;
	left: 400px;
	width: 500px;
	height :500px;
	
}
#plaatjeO{
position: absolute;
z-index:10;
}

#plaatjeN{
position: absolute;
z-index:1;
}


